<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<!--Меню-->
<nav class="navbar p-3 mb-2  bg-gradient fixed-top" >
    <div class="container-fluid " >
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" style="background-color: rgb(255,255,255)">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" style="background-color: aliceblue;" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header" style="background-color: white">
          <h5 class="offcanvas-title " id="offcanvasNavbarLabel">Меню</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Переглянути дані
              </a>
              <ul class="dropdown-menu" style=" background-color: ghostwhite">
                <li><a class="dropdown-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#staticBack" aria-controls="staticBackdrop">Переглянути усі предмети</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#staticBack3" aria-controls="staticBackdrop">Переглянути предмети без викладачів</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#staticBack4" aria-controls="staticBackdrop">Переглянути дані про викладачів</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#staticBack5" aria-controls="staticBackdrop">Сформувати звіт</a></li>

              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Вивантаження даних для певного викладача
              </a>
              <ul class="dropdown-menu" style="background-color: ghostwhite">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#downloadThingsOnComputer">Вивантажити дані на ваш комп'ютер</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#downloadThingsOnMail">Вивантажити дані на пошту викладача</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Завантажити дані
              </a>
              <ul class="dropdown-menu" style="background-color: ghostwhite">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Завантажити дані про предмети</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdropTeacher">Завантажити дані про викладачів</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Видалити дані
              </a>
              <ul class="dropdown-menu" style="background-color: ghostwhite">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#dropThings">Видалити дані про предмети</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#dropTeacher">Видалити дані про викладачів</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3 fixed-right" role="search">
            <input style="background-color: ghostwhite" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Пошук</button>
          </form>
        </div>
      </div>
    </div>
  </nav>



<!--Завантажити дані про предмет-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Завантажити дані про предмети</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" enctype="multipart/form-data" [formGroup]="uploadFormGroup" (ngSubmit)="uploadThing()">
          <div class="mb-3">
            <label for="formFile" class="form-label">Оберіть файл</label>
            <input class="form-control" type="file" id="formFile" formControlName="file" required>
            <div *ngIf="fileControl()">
              <h6>Оберіть файл формату .xls</h6>
            </div>
          </div>
          <div class="mb-3">
            <label for="semestr11" class="col-form-label">Початок першого семестру:</label>
            <input type="number" class="form-control" id="semestr11" formControlName="semestr11">
            <div *ngIf="semestr11Control()">
              <h6>Впишіть початок першого семестру</h6>
            </div>
          </div>
          <div class="mb-3">
            <label for="semestr12" class="col-form-label">Кінець першого семестру:</label>
            <input type="number" class="form-control" id="semestr12" formControlName="semestr12" >
            <div *ngIf="semestr12Control()">
              <h6>Впишіть кінець першого семестру</h6>
            </div>
          </div>
          <div class="mb-3">
            <label for="semestr21" class="col-form-label">Кінець першого семестру:</label>
            <input type="number" class="form-control" id="semestr21" formControlName="semestr21">
            <div *ngIf="semestr21Control()">
              <h6>Впишіть початок другого семестру</h6>
            </div>
          </div>
          <div class="mb-3">
            <label for="semestr22" class="col-form-label">Кінець першого семестру:</label>
            <input type="number" class="form-control" id="semestr22" formControlName="semestr22">
            <div *ngIf="semestr22Control()">
              <h6>Впишіть кінець другого семестру</h6>
            </div>
          </div>
          <div [hidden]="hid1" class="alert alert-success" role="alert">
            Дані успішно додані !
          </div>
          <div [hidden]="hid2" class="alert alert-danger" role="alert">
            Виникла помилка, перевірте введені дані !
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Закрити</button>
            <button type="submit" class="btn btn-outline-primary" [disabled]="dis()">Завантажити</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Завантажити дані про викладачів-->
<div class="modal fade" id="staticBackdropTeacher" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel1">Завантажити дані про викладачів</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form enctype="multipart/form-data" [formGroup]="uploadFormGroup2" (ngSubmit)="uploadTeachers()">
          <div class="mb-3">
            <label for="formFile2" class="form-label">Оберіть файл</label>
            <input class="form-control" type="file" id="formFile2" formControlName="file" name="file">
            <div *ngIf="dis2()">
              <h6>Оберіть файл формату .xls</h6>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Закрити</button>
            <button type="submit" [disabled]="dis2()" class="btn btn-outline-primary">Завантажити</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Видалити дані про предмет-->
<div class="modal fade" id="dropThings" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dropThingsLabel">Видалити дані про предмети</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Ви впевнені, що бажаєте видалити усі дані про предмети ?!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Закрити</button>
        <button type="button" class="btn btn-outline-primary">Видалити</button>
      </div>
    </div>
  </div>
</div>
<!--Видалити дані про викладачів-->
<div class="modal fade" id="dropTeacher" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dropTeachersLabel">Видалити дані про викладачів</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Ви впевнені, що бажаєте видалити усі дані про викладачів ?!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Закрити</button>
        <button type="button" class="btn btn-outline-primary">Видалити</button>
      </div>
    </div>
  </div>
</div>

<!--Вивантажити дані про предмет на комп-->
<div class="modal fade" id="downloadThingsOnComputer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="downloadThingsOnComputerLabel">Вивантажити дані на ваш комп'ютер</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="#" method="post" enctype="multipart/form-data">
<!--          <div class="form-group mx-sm-3 mb-2">-->
<!--            <label for="select" class="sr-only">Викладач</label>-->
<!--            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select" name="choose">-->
<!--              <option th:each="el : ${data}" th:text="${el.name}" th:value="${el.id}" name="choose"></option>-->
<!--            </select>-->
<!--          </div>-->
          <input type="hidden" id="postId" name="download" value="1" />
          <div class="form-group mx-sm-3 mb-2">
            <p>Оберіть потрібного викладача </p>
            <select class="form-select" aria-label="Default select example" name="download">
              <option selected value="1">Омельченко Гліб</option>
              <option value="2">Факторович Олександр</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Закрити</button>
            <button type="button" class="btn btn-outline-primary">Вивантажити</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Вивантажити дані про викладачів-->
<div class="modal fade" id="downloadThingsOnMail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="downloadThingsOnMailLabel">Вивантажити дані на пошту викладача</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="#" method="post" enctype="multipart/form-data">
          <!--          <div class="form-group mx-sm-3 mb-2">-->
          <!--            <label for="select" class="sr-only">Викладач</label>-->
          <!--            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select" name="choose">-->
          <!--              <option th:each="el : ${data}" th:text="${el.name}" th:value="${el.id}" name="choose"></option>-->
          <!--            </select>-->
          <!--          </div>-->
          <input type="hidden" name="download" value="2" />
          <div class="form-group mx-sm-3 mb-2">
            <p>Оберіть потрібного викладача </p>
            <select class="form-select" aria-label="Default select example" name="download">
              <option selected value="1">Омельченко Гліб</option>
              <option value="2">Олександр Факторович</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Закрити</button>
            <button type="button" class="btn btn-outline-primary">Вивантажити</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





<!--Перегляд усіх даних по предметам-->
<div class="offcanvas offcanvas-start" style="width: -webkit-fill-available" data-bs-backdrop="static" tabindex="-1" id="staticBack" aria-labelledby="staticBackLabel">
  <div class="offcanvas-header">
    <button class="btn btn-outline-success" type="submit">Другий семестр</button>
    <h5 class="offcanvas-title" id="staticBackLabel">Перегляд усіх даних по предметам</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="background-color: honeydew">
    <input class="form-control" id="Input1" type="text" placeholder="Ведіть інформацію по якій шукати для першого семестра..">
    <div class="table-responsive">
      <br>
      <table class="table table-bordered table-hover table-light align-middle">
        <thead class="thead-light">
        <tr class="align-middle">
          <th>Факультет. Назва  дис., обсяг в год.. Курс, шифр, к-сть студент.</th>
          <th>Викл.</th>
          <th>Лек.</th>
          <th>Лек.К</th>
          <th>Практ.</th>
          <th>Практ.К</th>
          <th>Лаб.</th>
          <th>Лаб.К</th>
          <th>Інд.зан.1</th>
          <th>Інд.зан.2</th>
          <th>Екз.</th>
          <th>Екз.К</th>
          <th>Зал. 1</th>
          <th>Зал. 2Z</th>
          <th>Кр.роб.1</th>
          <th>Кр.роб.2</th>
          <th>Кур.пркт.1</th>
          <th>Кур.пркт.2</th>
          <th>Кур.роб.1</th>
          <th>Кур.роб.2</th>
          <th>РГР</th>
          <th>РГР.К</th>
          <th>ДКР</th>
          <th>ДКР.К</th>
          <th>Реф.)</th>
          <th>Реф.К</th>
          <th>Конс.1</th>
          <th>Конс.2</th>
          <th>Всго.год.1</th>
          <th>Всго.год.2</th>
          <th>Обс.год.</th>
          <th><a href="#">Додати</a></th>
          <th></th>
        </tr>
        </thead>
        <tbody id="Table1">
        <tr class="align-middle">
          <th>Методології розробки ПО в сучасному програмуванні. Групи ТВ-91, ТІ-91, ТІ-92.</th>

<!--          тут треба перевірка на наявність викладача-->
          <th><a href="#">Обрати викладача</a></th>


          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th><a href="#">Ред.</a></th>
          <th><a href="#">Вид.</a></th>
        </tr>
        </tbody>
      </table>
    </div>
    <br>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>



<!--Перегляд без викладачів даних по предметам-->
<div class="offcanvas offcanvas-start" style="width: -webkit-fill-available" data-bs-backdrop="static" tabindex="-1" id="staticBack3" aria-labelledby="staticBackLabel3">
  <div class="offcanvas-header">
    <button class="btn btn-outline-success" type="submit">Другий семестр</button>
    <h5 class="offcanvas-title" id="staticBackLabel3">Перегляд без викладачів даних по предметам</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="background-color: honeydew">
    <input class="form-control" id="Input2" type="text" placeholder="Ведіть інформацію по якій шукати для першого семестра..">
    <div class="table-responsive">
      <br>
      <table class="table table-bordered table-hover table-light align-middle">
        <thead class="thead-light">
        <tr class="align-middle">
          <th>Факультет. Назва  дис., обсяг в год.. Курс, шифр, к-сть студент.</th>
          <th>Викл.</th>
          <th>Лек.</th>
          <th>Лек.К</th>
          <th>Практ.</th>
          <th>Практ.К</th>
          <th>Лаб.</th>
          <th>Лаб.К</th>
          <th>Інд.зан.1</th>
          <th>Інд.зан.2</th>
          <th>Екз.</th>
          <th>Екз.К</th>
          <th>Зал. 1</th>
          <th>Зал. 2Z</th>
          <th>Кр.роб.1</th>
          <th>Кр.роб.2</th>
          <th>Кур.пркт.1</th>
          <th>Кур.пркт.2</th>
          <th>Кур.роб.1</th>
          <th>Кур.роб.2</th>
          <th>РГР</th>
          <th>РГР.К</th>
          <th>ДКР</th>
          <th>ДКР.К</th>
          <th>Реф.)</th>
          <th>Реф.К</th>
          <th>Конс.1</th>
          <th>Конс.2</th>
          <th>Всго.год.1</th>
          <th>Всго.год.2</th>
          <th>Обс.год.</th>
          <th><a href="#">Додати</a></th>
          <th></th>
        </tr>
        </thead>
        <tbody id="Table2">
        <tr class="align-middle">
          <th>Методології розробки ПО в сучасному програмуванні. Групи ТВ-91, ТІ-91, ТІ-92.</th>
          <th><a href="#">Обрати викладача</a></th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th><a href="#">Ред.</a></th>
          <th><a href="#">Вид.</a></th>
        </tr>
        </tbody>
      </table>
    </div>
    <br>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>



<!--Перегляд даних про викладачів-->
<div class="offcanvas offcanvas-start" style="width: -webkit-fill-available" data-bs-backdrop="static" tabindex="-1" id="staticBack4" aria-labelledby="staticBackLabel4">
  <div class="offcanvas-header">

    <h5 class="offcanvas-title" id="staticBackLabel4">Перегляд даних про викладачів</h5>

    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="background-color: honeydew">
    <input class="form-control" id="Input4" type="text" placeholder="Ведіть імя та прізвище викладача..">
    <div class="table-responsive">
      <br>
      <table class="table table-bordered table-hover table-light align-middle">
        <thead class="thead-light">
        <tr class="align-middle">
          <th>Викладач</th>
          <th>email</th>
          <th>Посада</th>
          <th>Ставка</th>
          <th><a href="#">Додати</a></th>
          <th></th>
        </tr>
        </thead>
        <tbody id="Table4">
        <tr class="align-middle">
          <th>Омельченко Гліб</th>
          <th>glebomelchenko@gmail.com</th>
          <th>Старший викладача</th>
          <th>1</th>
          <th><a href="#">Редагувати</a></th>
          <th><a href="#">Видалити</a></th>
        </tr>
        </tbody>
      </table>
    </div>
    <br>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>



<!--Звіт викладачів по предметам за два семестра-->
<div class="offcanvas offcanvas-start" style="width: -webkit-fill-available" data-bs-backdrop="static" tabindex="-1" id="staticBack5" aria-labelledby="staticBackLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackLabel5">Звіт викладачів по предметам за два семестра</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="background-color: honeydew">
    <input class="form-control" id="Input5" type="text" placeholder="Ведіть імя та прізвище викладача...">
    <div class="table-responsive">
      <br>
      <table class="table table-bordered table-hover table-light align-middle">
        <thead class="thead-light">
        <tr class="align-middle">
          <th>Факультет. Назва  дис., обсяг в год.. Курс, шифр, к-сть студент.</th>
          <th>Викл.</th>
          <th>Лек.</th>
          <th>Лек.К</th>
          <th>Практ.</th>
          <th>Практ.К</th>
          <th>Лаб.</th>
          <th>Лаб.К</th>
          <th>Інд.зан.1</th>
          <th>Інд.зан.2</th>
          <th>Екз.</th>
          <th>Екз.К</th>
          <th>Зал. 1</th>
          <th>Зал. 2Z</th>
          <th>Кр.роб.1</th>
          <th>Кр.роб.2</th>
          <th>Кур.пркт.1</th>
          <th>Кур.пркт.2</th>
          <th>Кур.роб.1</th>
          <th>Кур.роб.2</th>
          <th>РГР</th>
          <th>РГР.К</th>
          <th>ДКР</th>
          <th>ДКР.К</th>
          <th>Реф.)</th>
          <th>Реф.К</th>
          <th>Конс.1</th>
          <th>Конс.2</th>
          <th>Всго.год.1</th>
          <th>Всго.год.2</th>
          <th>Обс.год.</th>
        </tr>
        </thead>
        <tbody id="Table5">
        <tr class="align-middle">
          <th>Методології розробки ПО в сучасному програмуванні. Групи ТВ-91, ТІ-91, ТІ-92.</th>
          <th>Омельченко Гліб</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
        </tr>
        </tbody>
      </table>
    </div>
    <br>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
